apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: devops-taskmanager
type: Opaque
stringData:
  MONGO_URL: "mongodb+srv://<username>:<password>@cluster0.mongodb.net/devops_task_manager?retryWrites=true&w=majority"
  JWT_SECRET: "your-strong-production-jwt-secret-key-32-chars-min"
  ADMIN_REGISTRATION_SECRET: "my-secure-admin-secret-key"
  SES_SENDER_EMAIL: "notifications@example.com"
  AWS_ACCESS_KEY_ID: "AKIAIOSFODNN7EXAMPLE"
  AWS_SECRET_ACCESS_KEY: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
